h1{
	font-size: 36px;
}
textarea.form-control{
	min-height:50px;
}
.label_project_status
{
	font-size: 16px !important;	
}
.label_for_project{
	line-height: 3 !important;
}
.manage_text{
	float: left; font-size: 20px; margin-bottom: -10px;
}
.mr-10{
	margin-right: 10px;	
}

.ml-20{
	margin-left: 20px;	
}

.p-b-t-10{
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #BBB;
    box-shadow: 3px 3px #999999;
}
.fz-20{
 font-size: 20px;
}

.container-full{
	position: inherit !important;
	z-index: unset !important;
	width: 102% !important;
	left: -10px !important;
}
/*.modal-content{
	position: absolute !important;
}*/
/*.container-full
{
	z-index: 0 !important;
}*/
.fa-compress{
	display: none;
}
.s-event{
	font-size: 2.1em !important;
}
.container{
	width: 100% !important;
}
.select2{
	width: 100% !important;	
}
tr.selected{
	background-color: #acbad4; !important;
}
.label-maroon{
      background: #D81B60;
    }

.remove-border{
	border: 0px !important;
}

tr.border_bottom {
  
}

.margin-center{
	margin-right: auto;
	margin-left: auto;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}
 .invoice >.row >.col-xs-12{
	padding-right: 00px;
    padding-left: 00px;
	word-wrap: break-word;
 }
 
 th{

	word-wrap: break-word !important;
 }
 .padding-20{
 	padding-left: 20px;
 }
 .listing_menu {
    padding-left: 10px;
    font-size: 22px;
}
.listing_menu a{
    color: white !important;
}
.m-l-55{
    margin-left: 55px;
}
.display-none {
	display: none;
}
/*Date picker kill part*/
input::-webkit-calendar-picker-indicator{
    display: none !important;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

form input.custom_error_block {
	border-color: red;
}


/* Style for receipt tables */

.receipt_table {
	margin-top: 20px;
	border-collapse: collapse !important;
}

.receipt_table thead{
	background-color: #cccccc;
	font-weight: 700;

}
.receipt_table td, .receipt_table th{
	padding: 5px  0px 5px 10px;
	min-width:134px;
	word-wrap: break-word !important;
	border-top: 1px solid #ddd;
}	

.notch{
	position: fixed;
	width: 100%;
	top: 0;
	left:0;
	z-index: 1;
	height: 2em;
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
	background-color:white;
	box-shadow: 0px 5px 5px gray;
	padding-top: 0.4em;
}

.documents_table{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.table_div_container{
	margin: 0;
	overflow-x: scroll;
}

@media (min-width: 768px) {
  .table_div_container {
    margin: 20px;
    overflow-x: auto;
  }
  .notch{
  	display: none;
  }
}

/*login homepage*/
.login-box{
	display: flex; 
	justify-content: center; 
	align-items: center;
	width: 100%; 
	height: 100%
}

.login-form{
	max-width: 80%;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 380px;
	padding: 30px 30px 30px 30px;
}

.img-logo{
	max-width: 70%; 
	padding-bottom: 30px
}

.mw100{
	max-width: 100%;
}

.login-submit{
	width: 100%;
	margin-bottom: 15px;
}

.w100{
	width: 100%;
}

/*custom dashborad layout class*/
 /*  div.col-sm-7.five-three ,div.col-xs-7.five-three{
    width: 60% !important;
    }

    div.col-sm-5.five-two, div.col-xs-7.five-three {
      width: 40% !important;
    }*/



/*custom dashborad layout class*/
